/* .home-page {
    width: 100%;
    height: 100%;
} */
.homePage-nav {
    /* position: absolute; */
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 8px 15px !important;
    background-color: #ffffff !important;
    position: static;

}
  
.fin {
    color: black;
    font-size: 20px;
    font-weight: 505;
    font-family: 'Lato', sans-serif;
}
.ver {
    color: rgb(28, 240, 28);
    font-size: 20px;
    font-weight: 505;
    font-family: 'Lato', sans-serif;

}
.sign-up {
    background-color: rgb(28, 240, 28);
    padding: 5px 8px;
    border-radius: 20px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}
.nav-links {
    color: black;
    font-size: 17px;
    font-weight: 502;
    font-family: 'Lato', sans-serif;
}
.button {
    padding: 7px 60px;
    border-radius: 15px;
    color: #ffffff;
    font-size: 17px;
    font-weight: 502;
    font-family: 'Lato', sans-serif;
    margin-top: 6px;
}
.carousel-inner img {
    min-width: 100%;
    max-height: 100vh;

}
.money {
    text-align: center;
    margin-top: 80px !important;
}

.navlinks {
    justify-content: space-between;
    margin-top: 10px;
}
.homeNav {
    margin-left: 20px;
}
.signupNav {
    margin-
}
.contactNav {
    margin-left: 20px;
}
.aboutNav {
    margin-left: 20px;
}
.registerNav {
    margin-left: 20px;
}
.portfolioNav {
    margin-left: 20px;
}
.saving {
    background-color: rgb(26, 160, 243);
    text-align: center;
}
.savingH1 {
    padding-top: 8rem;
    text-align: center;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    /* margin-bottom: 20px;  */
}
.savingText {
    text-align: center;
    padding-bottom: 20px;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
}
.savingButton {
    padding: 7px 20px;
    background-color: #ffffff !important;
    border-radius: 15px;
    display: inline;
    text-align: center !important;
}
.buttonDiv {
    padding-bottom: 8rem;
}
.taxDiv {
    background-color: rgb(114, 195, 245);
    text-align: center;
}
.feeDiv {
    background-color: rgba(54, 204, 54, 0.644);
    text-align: center; 
}
.aboutDiv {
    text-align: center;
    padding-top: 8rem;
    margin-right: 280px;
    /* margin-bottom: 20px !important; */
}
.aboutDiv-button {
    /* padding-bottom: 8rem; */
    margin-left: 170px;
    margin-bottom: 20px !important;

}
.aboutButton {
    padding: 7px 30px;
    border-radius: 15px;
    background-color: rgb(26, 160, 243);
    margin-top: 20px;
    color: #ffffff;
}
.aboutText {
    text-align: center;
}
.blueDiv {
    background-color: rgb(26, 160, 243);
    /* margin-bottom: 20px; */
    padding-bottom: 8rem;
    padding-top: 4rem;
    /* width: 100%; */
}
.testimonialDiv {
    /* margi/n-top: 8rem; */
    margin-left: 270px;
    margin-right: 100px;
    margin-bottom: 4rem;
}
.faceImage {
    border-radius: 20px;
    height: 90px;
    margin-left: 20px;
    margin-top: 30px;
}
.testimonial-text {
    margin-left: 20px;
    padding-bottom: 60px !important;
}
.testimonialH1 {
    margin-left: 260px;
    color: #ffffff;
}
.col2 {
    margin-left: 20px;
}
.moreButton {
    padding: 10px 40px;
    border-radius: 15px;
    background-color: rgba(54, 204, 54, 0.644);
    margin-top: 20px;
    color: #ffffff;
}
.planners {
    margin-left: 150px;
}
.signUp2Div {
    background-color: rgba(54, 204, 54, 0.644); 
    /* padding -top: 30px; */
}
.greenDiv {
    text-align: center;
    color: #ffffff;
    padding-top: 70px;
}
.textGreenDiv {
    text-align: center;
    color: #ffffff;
}
.greenDivButton {
    background-color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    margin-left: 320px;
    border-radius: 15px;
    margin-bottom: 6rem; 
    margin-top: 20px;
    font-weight: bold;
}
.contactAddress {
    margin-left: 50px;
}
.contactAddress1 {
    margin-left: 50px;
    margin-top: 50px;
}
.contactAddressHead {
    background-color: lightgray;
}
.addresses {
    font-weight: bold;
}
.lastDiv {
    background-color: rgb(83, 81, 81);

}
.lastDivv {
    /* margin-top: 20px; */
    padding-top: 4rem;
    padding-left: 10px;
    padding-right: 50px;
    padding-bottom: 8rem;

}
.lastDiv1 {
    color: #ffffff;
}
.lastDiv2 {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
}
.finFoot {
    color: #ffffff;
    font-size: 20px;
    font-weight: 505;
    font-family: 'Lato', sans-serif;
}
@media screen and (max-width: 850px) {
.homePage-nav {
    /* position:static; */
    top: 0;
    left: 0;
    padding: 15px 30px;
    width: 100%;
    /* left: 0; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* padding: 8px 15px !important; */
    background-color: #ffffff !important;
    position: static;


}
.blueDiv {
    max-width: 100vw;
}
}
